html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content repeat(4, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(7, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 6rem 80vh min-content repeat(4, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(7, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content repeat(4, min-content); } }

.discover {
  grid-column: center-start / center-end; }

.footer {
  background-color: #254441;
  grid-column: full-start / full-end; }

.gallery {
  grid-column: full-start / full-end; }

.header {
  grid-column: full-start / col-end 5; }

.journal {
  grid-column: center-start / center-end; }

.powertrain {
  background-color: #254441;
  grid-column: col-start 6 / full-end; }

.salesDepartment {
  grid-column: full-start / full-end;
  color: #254441; }

.sidebar {
  background-color: #43aa8b;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }
