// COLOR VARIABLES
$color-primary: #43aa8b;
$color-primary-dark: #254441;

$color-secondary: #b2b09b;

$color-red-light: #ff6f59;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$color-black: #000000;
$color-white: #ffffff;
